:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html, body {
  height: 100%;
  width: 100%;

}

input {
  margin: 10px;
  padding: 10px;
}

.box {
  background-color: red;
  height: 200px;
  width: 200px;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}
.page2 {
  height: 100vh;
  width: 100%;
  background-color: #222;
}
.page3 {
  height: 100vh;
  width: 100%;
  background-color: #333;
}